body{
    margin: 0 !important;
    padding: 0 !important;

}

h1,
h2{
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    margin-bottom: .4em;
    letter-spacing: 8px;
    font-size: 22pt;
    font-weight: normal;
}

h1{
    margin: 0;
    letter-spacing: 8px;
    font-size: 36pt;
    font-weight: normal;
}

p,
.btn-read-more{
    font-family: 'Open Sans', sans-serif;
}

p{
    margin: 0;
    letter-spacing: 10px;
    font-size: 14pt;
}

.orange-circle{
    background-image: url("/images/orange_circle.png");
    background-size: cover;
}

.purple-circle{
    background-image: url("/images/purple-circle.png");
    background-size: cover;
}

.circle-small{
    width: 100px;
    height: 100px;
}

.circle-medium{
    width: 140px;
    height: 140px;
}

.circle-big{
    width: 200px;
    height: 200px;
}

.green-line{
    position: absolute;
    
    border-bottom: solid 6px #66b937;

    z-index: -1;
}

.btn-read-more{
    color: #000;
    text-decoration: none;

    letter-spacing: 6px;
    font-size: 14pt;

    border-bottom: solid 2px;
}

#section-hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;

    background-image: url("/images/landing_art.png");
    background-size: cover;
    background-position: center;

    .orange-circle{
        align-self: flex-start;
        margin-left: 28%;

        visibility: hidden;
        animation-duration: 1.2s;
    }
    .orange-circle.animate__animated{
        visibility: visible;
    }

    .purple-circle{
        align-self: flex-end;
        margin-top: 24px;
        margin-right: 28%;

        visibility: hidden;
        animation-duration: 1s;
    }
    .purple-circle.animate__animated{
        visibility: visible;
    }

    .greet{
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        
        color: white;

        h1{
            font-size: 74pt;
        }

        p{
            width: 56%;
        }
    }
}
@media(max-width: 800px){
    #section-hello{
        padding: 4%;
    }
}

#section-philosophy{
    position: relative;

    padding: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .green-line{
        left: 50%;
        top: calc(50% + 6px);
        transform: translate(-50%, -50%) rotate(-45deg);

        width: 320px;
    }

    p{
        width: 56%;

        letter-spacing: 6px;
        line-height: 36px;
        text-align: center;

        visibility: hidden;
        animation-duration: .3s;
    }
    p.animate__animated{
        visibility: visible;
    }
}
@media(max-width: 800px){
    #section-philosophy{
        padding: 100px 4%;
    }
}

#section-about{
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .centered-info{
            padding: 100px;

            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                visibility: hidden;

                h1{
                    text-align: center;
                    margin-bottom: 20px;
                }
    
                p{
                    margin-bottom: 50px;
    
                    width: 73%;
    
                    text-align: center;
                    line-height: 26px;
                    letter-spacing: 8px;
                    font-size: 12pt;
                }
                a{
                    color: inherit;
                    border-bottom-color: inherit;
                }
            }
            .content.animate__animated{
                visibility: visible;
            }
        }
        @media(max-width: 1200px){
            .centered-info{
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .info-black{
            color: #111;
        }
        .info-white{
            color: #fff;
        }

        #making-history{
            padding-bottom: 140px;
            background-image: linear-gradient(#b6d037, #66b937);
        }

        #mission{
            padding: 80px 100px;
            background-image: linear-gradient(#fbace7, #6a32f5);;
        }

        .art-scenery{
            position: relative;

            padding: 120px;

            background-color: #2c2933;

            .art{
                position: absolute;
                top: -60px;

                width: 470px;
                height: 460px;
            }
            .history-art{
                background-image: url("/images/history_art.jpeg");
                background-size: cover;
            }
            .mission-art{
                background-image: url("/images/mission_art.jpeg");
                background-size: cover;
                
            }
        }
        .art-scenery-right{
            .purple-circle{
                position: absolute;
                right: 100px;
                bottom: 50px;
            }
        }
        .art-scenery-left{
            .art{
                right: 120px;
            }
            .orange-circle{
                position: absolute;
                right: 150px;
                bottom: 50px;
            }
        }
        @media(max-width: 1200px){
            .art-scenery{
                padding: 50px;
            }
            .art-scenery-left{
                .art{
                    right: 50px;
                }
            }
        }
    }
    
    .row-exellence-innovation{
        position: relative;

        height: 570px;
        
        .left-bg{
            background-image: linear-gradient(#fed50a, #fbace7);
        }
        .right-bg{
            background-image: url("/images/innovation_bg.jpeg");   
            background-size: cover;
            background-position: center;
        }

        .exellence-innovation{
            position: absolute;

            padding: 0 70px;
            height: inherit;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .info{
                flex-basis: 33%;
                
                color: #fff;

                visibility: hidden;

                h1{
                    margin-bottom: 30px;
                }

                p{
                    font-size: 12pt;
                }
            }
            .info.animate__animated{
                visibility: visible;
            }
            .info-right{
                text-align: right;
            }

            .art-center{
                flex-basis: 33%;
                justify-self: flex-end;

                max-width: 360px;
                height: 360px;

                background-image: url("/images/exelence_innovation-art.jpeg");
                background-position: center;
                background-size: cover;
            
                border-style: dotted;

                visibility: hidden;
            }
            .art-center.animate__animated{
                visibility: visible;
            }
        }
    }
}
@media(max-width: 800px){
    #section-about{
        .row{
            grid-template-columns: repeat(1, 1fr);

            .art-scenery{
                padding: 100px;
                height: 380px;
            }
            .art-scenery-left{
                .art{
                    right: 100px;
                }
                .orange-circle{
                    left: 100px;
                }
            }
            #mission{
                padding-bottom: 130px;
                order: -1;
            }
        }
        .row-exellence-innovation{
            height: 900px;

            .exellence-innovation{
                flex-direction: column;

                .info{
                    h1{
                        margin-top: 50px;
                    }
                }
                .art-center{
                    width: 360px;
                }
            }
        }
    }
}

#section-art-display{
    padding: 50px;

    display: flex;
    justify-content: center;


    background-color: #2c2933;

    .display{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .art{
            width: 210px;
            height: 380px;

            background-size: cover;
            background-position: center;

            visibility: hidden;
        }
        .art.animate__animated{
            visibility: visible;
        }
        .art_1{
            background-image: url("/images/art_1.jpeg");
            animation-delay: .4s;
        }
        .art_2{
            background-image: url("/images/art_2.jpeg");
            animation-delay: .2s;
        }
        .art_3{
            background-image: url("/images/art_3.jpeg");
        }
        .art_4{
            background-image: url("/images/art_4.jpeg");
            animation-delay: .2s;
        }
        .art_5{
            background-image: url("/images/art_5.jpeg");
            animation-delay: .4s;
        }
    }
}
@media(max-width: 800px){
    #section-art-display{
        .display{
            grid-template-columns: repeat(1, 1fr);

            .art{
                width: 450px;
                height: 300px;
            }
        }
    }
}


#section-we-rock{
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    .info{
        position: relative;

        .green-line{
            top: 50%;
            right: 14%;

            transform: rotate(-45deg);

            width: 550px;
        }

        h1{
            margin-bottom: 40px;

            width: 60%;

            font-size: 36pt;
        }

        ul{
            padding: 0;
            padding-left: 20px;
            
            width: 60%;
           
            li{
                margin-bottom: 30px;

                letter-spacing: 6px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14pt;
            }
        }
        .orange-circle{
            position: absolute;
            bottom: 0;
            right: 30px;

            visibility: hidden;
        }
        .orange-circle.animate__animated{
            visibility: visible;
        }
    }
    .art{
        width: 560px;
        height: 430px;

        background-image: url("/images/art_number_5.jpeg");
        background-size: cover;
    }
}
@media(max-width: 800px){
    #section-we-rock{
        flex-direction: column;
        
        padding: 100px;
        
        .info{
            margin-bottom: 100px;
            
            .green-line{
                right: -30%;
            }
            
            h1,
            ul{
                width: 100%;
            }

            .orange-circle{
                bottom: -30px;
                right: -10px;
            }
        }

        .art{
            width: 100%;

            background-position: center;
        }
    }
}